---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	
	<a href="/astro-web/"><img class="header__logo" src="https://pameschurrer.com/astro-web/logo.svg"></a>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/astro-web/">Home</HeaderLink>
			<HeaderLink href="/astro-web/about">About</HeaderLink>
			<ThemeIcon />
		</div>
	
	</nav>
</header>
